@using Entities.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>


</head>
<body>
    <h2>Contacts</h2>
    <br />

    <table id="tblContact" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Information Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th><a href="/Information/InfoList/@item.UUID" style="color:black">@item.Name</a></th>
                    <th>@item.LastName</th>
                    <td>@item.Company</td>
                    <td><a href="/Contact/ContactDelete/@item.UUID" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Contact/ContactUpdate/@item.UUID" class="btn btn-success">Update</a></td>
                    <td><a href="/Information/InfoAdd/@item.UUID" class="btn btn-success">Information Add</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
