@using Entities.Concrete
@model List<Information>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>


</head>
<body>
    <button class="btn btn-primary" onclick="Report()">All Information</button>
    <input type="text" id="filter" name="location">
    <button class="btn btn-primary" onclick="Filter()">Filter</button>
    <br />
    <div>
        <table id="tblReport" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Total People</th>
                    <th>Total Telephone Number</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>

<script>

    function Filter() {
        $("#tblReport tbody").empty();
        $.ajax({
            url: '../Information/Filter',
            type: 'POST',
            data: { location: $('#filter').val() },
            dataType: 'json',
            success: function (data) {
                json_object = $.parseJSON(data);
                for (var i = 0; i < json_object.length; i++) {
                    $("#tblReport").append(
                        '<tr>' +
                        '<td>' + json_object[i].Location + ' </td >' +
                        '<td>' + json_object[i].numberofpeople + '</td>' +
                        '<td>' + json_object[i].telephone + '</td>' +
                        ' </tr> '
                    );

                }
            },
            error: function () {
                alert("404");
            }
        });
    }

    function Report() {
        $("#tblReport tbody").empty();
        $.ajax({
            url: '../Information/Report',
            type: 'GET',
            data: {},
            dataType: 'json',
            success: function (data) {
                json_object = $.parseJSON(data);
                for (var i = 0; i < json_object.length; i++) {
                    $("#tblReport").append(
                        '<tr>' +
                        '<td>' + json_object[i].Location + ' </td >' +
                        '<td>' + json_object[i].numberofpeople + '</td>' +
                        '<td>' + json_object[i].telephone + '</td>' +
                        ' </tr> '
                    );

                }
            },
            error: function () {
                alert("404");
            }
        });
    }
</script>
